<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <parameter name="browser" value="chrome"/>
    <test name="Amazon tests" >
        <classes>
            <class name="tests.SearchTest">
                <methods>
                    <include name="CheckThatTheUserCanSearch"/>
                </methods>
            </class>
    </classes>
</test>
</suite>